@font-face {
  font-family: "Eurostile LT Std Extended 2";
  src: url("eurostile/Eurostile LT Std Extended 2.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile Extended Bold";
  src: url("eurostile/Eurostile Extended bold.ttf");
  font-style: normal;
  font-display: swap;
}
