@font-face {
  font-family: "Eurostile LT Std Extended 2";
  src: url("eurostile/Eurostile LT Std Extended 2.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EurostileLTStd-BoldEx2";
  src: url("eurostile/EurostileLTStd-BoldEx2.otf");
  font-style: normal;
  font-display: swap;
}

#gallery {
  column-count: 2;
  column-gap: 20px;
}

.image-container {
  margin: 20px 0px;
  display: inline-block;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
	border-radius: 3px;
}

.image-caption {
  font-family: 'Eurostile LT Std Extended 2', serif;
  font-size: 14px;
  margin-top: 20px;
}

.image-container div {
	font-family: 'Eurostile LT Std Extended 2', serif;
	font-size: 14px;
margin-top: 20px;
}

h1 {
	padding-top: 90px;
	font-family: 'EurostileLTStd-BoldEx2', serif;
}

.fullscreen {
	position: static;
	width: 80%;
	height: 80%;
	object-fit: contain;
}

